 {% extends 'base.html' %}

 {% block title %}
Modify your profile
{% endblock %}
{% block content %}
{% if current_user.is_admin %}
    <p>Connecté en tant qu'administrateur</p>
{% else %}
    <p>Connecté en tant qu'utilisateur</p>
{% endif %}
<div class='container mt-5'>
    <h1>Modify your profile</h1>
    <br>
    <form method="POST" class="form-register" >
        {{ form.hidden_tag() }}

        {{ form.last_name.label() }}
        {{ form.last_name(value=current_user.last_name, class="form-control") }}
        <br/>
        {{ form.first_name.label() }}
        {{ form.first_name(value=current_user.first_name, class="form-control") }}
        <br/>
        {{ form.email_address.label() }}
        {{ form.email_address(value=current_user.email_address, class="form-control") }}
        <br/>
        {{ form.telephone_number.label() }}
        {% if current_user.telephone_number %}
            {{ form.telephone_number(value=current_user.telephone_number, class="form-control") }}
        {% else %}
            {{ form.telephone_number(placeholder="Numéro de téléphone mobile", class="form-control") }}
        {% endif %}
        <br/>
        {{ form.submit(class="btn btn-lg btn-primary d-block", id="button")}}
    </form>
</div> 
{% endblock %}