{% extends 'base.html' %}

{% block title %}
Profil
{% endblock %}
{% block content %}
{% if current_user.is_admin %}
Connecté en tant qu'administrateur
{% else %}
Connecté en tant qu'utilisateur
{% endif %}
<br/>
<div class="d-flex p-2 flex-column align-items-center">
    <div class= "p-2">
        <h1>Your profile</h1>
    </div>
    <div class= "p-2">
        {{ current_user.last_name }}
        <br/>
        {{ current_user.first_name }}
        <br/>
        {{ current_user.email_address }}
        <br/>
        {{ current_user.telephone_number }}
        <br/>
    <!-- <div class = "p-2">
        {{ current_user.street_number }}       
    </div> -->

        <a href="{{ url_for('modify_profile_page') }}" class="btn btn-info" class="text-center" role="button">Modify profile</a>
</div>
{% endblock %}